body {
    background-color: #000;
    margin: 20px;
}

main {
    text-align: center;
}

h1, legend, form, label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 48px;
}

legend {
    font-size: 32px;
    font-style: oblique;
}

label {
    font-size: 20px;
}

hr {
    border: none;
    text-decoration: none;
    height: 10px;
}



button {
    color: #000;
    background-color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}